@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,600,700,800,900");
/************ Variables ***********/
/************ Mixiins ***********/
.img-fluid {
  max-width: 100%;
  display: block;
  height: auto; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #0B0D0C;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

/************Nav****************/
.container {
  position: relative;
  content: '';
  clear: both;
  display: table; }

.menu-toggle {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  width: 5rem;
  height: 2rem; }

.Logo {
  position: relative;
  display: inline;
  color: #F6F6F6;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .15rem; }

.hamburger {
  width: 4rem;
  height: .2rem;
  background-color: #F6F6F6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 1rem;
  position: absolute;
  transition: .5s; }
  .hamburger::before, .hamburger::after {
    content: ' ';
    position: absolute;
    width: 4rem;
    height: .2rem;
    background-color: #F6F6F6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s; }
  .hamburger::before {
    top: .7rem; }
  .hamburger::after {
    top: -.7rem; }

.site-active {
  height: auto; }

.menu-toggle.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }
  .menu-toggle.active .hamburger::before {
    top: 0;
    transform: rotate(45deg); }
  .menu-toggle.active .hamburger::after {
    top: 0;
    transform: rotate(135deg); }

.site-nav {
  position: absolute;
  width: 80vw;
  height: 0px;
  top: 100%;
  right: 0%;
  background-color: #0B0D0C;
  overflow: hidden;
  z-index: 1; }
  .site-nav ul {
    margin: 0;
    padding: 0; }
  .site-nav a {
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 200;
    letter-spacing: .3rem;
    padding: 2.6rem;
    text-align: justify;
    opacity: 0; }
    .site-nav a:hover, .site-nav a:focus {
      text-decoration: line-through;
      text-decoration-color: #F6F6F6; }

.site-active {
  height: auto; }
  .site-active a {
    opacity: 1;
    -webkit-animation: animationsLinks .5s ease-in; }

@keyframes animationsLinks {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: .50; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }

@media (min-width: 768px) {
  .whoweare_image {
    display: block; }
  .metrics_text {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem; } }

@media (min-width: 992px) {
  .menu-toggle {
    display: none; }
  .site-nav {
    position: relative;
    height: auto;
    background: transparent;
    float: right;
    width: auto; }
    .site-nav li {
      display: inline-block; }
    .site-nav a {
      opacity: 1;
      font-size: 1.5rem;
      padding: 0;
      padding-top: .85em;
      margin-left: 3em; }
      .site-nav a:hover, .site-nav a:focus {
        border-bottom: 1px solid #F6F6F6;
        padding-bottom: .5rem;
        text-decoration: none; } }

/**** Header Image and Text ********/
.header-image {
  background: url("../../Images/office.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 12rem;
  padding-bottom: 12rem; }

.header_text {
  display: block;
  color: #F6F6F6;
  text-transform: uppercase;
  position: relative; }
  .header_text p {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: .15rem; }
  .header_text .hr_white {
    width: 4rem;
    float: left;
    display: inline;
    margin-top: .8rem; }
  .header_text h1 {
    font-size: 4.5rem; }
  .header_text span {
    margin-left: 2rem; }
  .header_text .header_text_two {
    margin-top: 2rem;
    margin-bottom: 4rem; }
  .header_text a {
    text-decoration: none;
    border-width: .1rem;
    border-style: solid;
    color: #F6F6F6;
    padding: 1rem; }

/***** WHO WE ARE ***/
.whoweare {
  background-color: #F6F6F6;
  position: relative; }
  .whoweare span {
    display: block;
    margin-left: 1.5rem; }
  .whoweare h2 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem; }
  .whoweare p {
    letter-spacing: .05rem;
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 3rem; }
  .whoweare_box {
    background-color: #fff;
    max-width: 100%;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .whoweare_image {
    float: right;
    left: -20px;
    display: block;
    margin-right: -20px; }

@media (min-width: 1200px) {
  .whoweare h2 {
    margin-bottom: 4rem; }
  .whoweare_box {
    max-width: 70%; } }

/**** Metrics ****/
.metrics_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.metrics h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.metrics_text {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 2rem; }

@media (min-width: 720px) {
  html {
    font-size: 60%; }
  .whoweare h2 {
    margin-bottom: 4rem; }
  .metrics_text {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem; } }

@media (min-width: 996px) {
  html {
    font-size: 62.5%; }
  .whoweare_box {
    max-width: 80%; }
  .metrics_text {
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 2rem; } }

@media (min-width: 1024px) {
  .whoweare_box {
    max-width: 80%; }
  .metrics_text {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem; } }

@media (min-width: 1080px) {
  .whoweare_box {
    max-width: 70%; } }

@media (min-width: 1228px) {
  .whoweare_box {
    max-width: 70%; } }
